
.img{
    width: 500px;
    height: 350px;
    padding: 40px 40px;
}
.gif{
    position: absolute;
    top: 20px;
}
.row{
    position: relative;
}
.col-lg-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 40px;
    width:300px ;
    height: 700px; 
}

.fw-normal{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    padding: 20px 20px;
}

.container-header{
    background-image: url(image/freepik-export-20241204182631BS7L.jpeg);
    background-repeat: no-repeat;
    opacity: 95%;
    width: 100%;
    background-size: cover;
}
.container.marketing{
    background-color: #f5faf8;

}
